<h2>Olá {{ name }},</h2>
<p>
  Uma nova solicitação de recuperação de senha foi gerada, caso queira prosseguir clique no link abaixo:
</p>
<p>
<a href="{{ resetPasswordUrl }}" target="_blank">Recuperar Senha</a>
</p>
<p>
  <strong>Equipe RS/XP</strong>
</p>
